{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Trip{% endblock %}</h1>
{% endblock %}

{% block content %}
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&loading=async"></script>

    <script>

        var attractionsArray = [];
        {% for attraction in attractions %}
            var attraction = {
                name: "{{ attraction['name'] }}",
                lat: {{ attraction['latitude'] }},
                lng: {{attraction['longitude'] }}
            };
            attractionsArray.push(attraction);
        {% endfor %}

        var optimalPath = [];
            {% for point in optimal_path %}
                optimalPath.push(point);
            {% endfor %}

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: attractionsArray[0].lat, lng: attractionsArray[0].lng},
                zoom: 12
            });

                       // Add markers for attractions
            for (var i = 0; i < attractionsArray.length - 1; i++) {
                var marker = new google.maps.Marker({
                    position: {lat: attractionsArray[i].lat, lng: attractionsArray[i].lng},
                    map: map,
                    label: (i + 1).toString()
                });
            }

            // Draw paths between attractions based on optimal route
            var pathCoordinates = [];
            {% for attraction in attractions %}
                var pos = {
                lat: {{ attraction['latitude'] }},
                lng: {{attraction['longitude'] }}
                };
                pathCoordinates.push(pos);
            {% endfor %}

            var pathRoute = new google.maps.Polyline({
                path: pathCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            pathRoute.setMap(map);
        }
        window.initMap = initMap;
    </script>
</body>
<html>
{% endblock %}