<!doctype html>
<title>{% block title %}{% endblock %} - Tourist</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Local Tourist</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    <li><a href="{{ url_for('list.plan', user_id=g.user) }}">My Plan</a>
    <li><a href="{{ url_for('list.rank', user_id=g.user) }}">My Rankings</a>
    <li><a href="{{ url_for('list.index', user_id=g.user) }}">Home</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>