{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List of Attractions{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('list.change_location', location='Boston') }}">
        <button type="submit" class="action">Boston, MA</button>
    </form>
<form method="post" action="{{ url_for('list.change_location', location='Leuven') }}">
        <button type="submit" class="action">Leuven, Belgium</button>
    </form>
  {% for attraction in attractions %}
    <article class="attraction">
      <header>
        <div>
          <h1>{{ attraction['name'] }}</h1>
          <div class="description">
            location: {{ attraction['vicinity'] }} <br>
            </div>
        </div>
        {% if g.user %}
    <form method="post" action="{{ url_for('list.add_to_trip', user_id=g.user, attraction_id=1) }}">
        <button type="submit" class="action">Add to plan</button>
    </form>
        <form method="post" action="{{ url_for('list.add_to_rank', user_id=g.user, attraction_id=1) }}">
        <button type="submit" class="action">Rank item</button>
    </form>
        {% endif %}
      </header>
      <p class="body"> </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


