{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Plan{% endblock %}
{% endblock %}
{% block content %}
    <form action="{{ url_for('list.clear_plan', user_id=g.user) }}" method="post">
    <input class="danger" type="submit" value="Delete plan">
  </form>
      <a href="{{ url_for('trip.map', user_id=g.user, mode='walking', api_key=api_key) }}">Generate Route</a>
    </h1>
  {% for attraction in attractions %}
    <article class="attraction">
      <header>
        <div>
          <h1>{{ attraction['name'] }}</h1>
          <div class="description">
            location: {{ attraction['location'] }} <br>
            <form action="{{ url_for('list.clear_single_plan', user_id=g.user, user_attraction_id=attraction['id']) }}" method="post">
    <input type="submit" value="Delete Attraction">
</form>
            </div>
        </div>
      </header>
      <p class="body"> </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}