{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My List{% endblock %}
{% endblock %}
{% block content %}
    </h1>
    <form action="{{ url_for('list.clear_rank', user_id=g.user) }}" method="post">
    <input class="danger" type="submit" value="Delete rankings">
  </form>
  {% for attraction in attractions %}
    <article class="attraction">
      <header>
        <div>
          <h1> {{ attraction['name'] }}</h1>
          <div class="description">
            Rank: {{ loop.index }}  <br>
            <form action="{{ url_for('list.clear_single_rank', user_id=g.user, to_remove = loop.index - 1)}}" method="post">
    <input type="submit" value="Delete Rank">
</form>
            </div>
        </div>
      </header>
      <p class="body"> </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}